doctype html
html
  head
    title Stock Prices
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")/
    meta(http-equiv="Content-Style-Type" content="text/css")
    meta(http-equiv="Content-Script-Type" content="text/javascript")
    link(rel="shortcut icon" href="/images/favicon.ico")
    link(rel="stylesheet" type="text/css" href="/css/style.css" media="all")
    script(type="text/javascript" src="/js/util.js")
    style(type="text/css").
      /*<![CDATA[*/
      body {
          color: #333333;
          line-height: 150%;
      }

      thead {
          font-weight: bold;
          background-color: #CCCCCC;
      }

      .odd {
          background-color: #FFCCCC;
      }

      .even {
          background-color: #CCCCFF;
      }

      .minus {
          color: #FF0000;
      }

      /*]]>*/

  body
    h1 Stock Prices
    table
      thead
        tr
          th #
          th symbol
          th name
          th price
          th change
          th ratio
      tbody
        each item, index in items
          if index % 2
            - var rowClass = "even"
          else
            - var rowClass = "odd"
          tr(class="#{rowClass}")
            td= index + 1
            td
              a(href="/stocks/#{item.symbol}")= item.symbol
            
            td
              a(href="#{item.url}")= item.name
            td
              strong #{item.price}

            if item.change < 0
              td(class="minus")= item.change
              td(class="minus")= item.ratio
            else
              td= item.change
              td= item.ratio